* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    font-family: courier new;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}


.pure-form label {
    margin-top: 1em;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[button] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 30%;
    margin-bottom: 1em;
}

.pure-button {
    background-color: #00AE52;
    margin-top: 2em;
    margin-bottom: 5em;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: 600;
}

a.pure-button-primary {
    background: white;
    color: #00AE52;
    border-radius: 5px;
    font-size: 120%;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #00AE52;
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-style: bold;
    font-weight: 500;
    font-size: 135%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: white;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #BC2054;
}

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
    background-color: white;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    margin-top: 5px;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: #00AE52;
    padding: 0.1em 1.6em;
    font-weight: 700;
    font-family: courier new;
}
.splash-head-success {
    font-size: 20px;
    font-weight: bold;
    color: #00AE52;
    font-weight: 700;
    font-family: courier new;
    margin-top: 30%;
    font-size: 200%;
    word-wrap: break-word;
    line-height: 1.2em;
}
.splash-head-error {
    font-size: 20px;
    font-weight: bold;
    font-weight: 700;
    font-family: courier new;
    margin-top: 5%;
    font-size: 500%;
    color: #F6296A;
}

.splash-subhead {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.05em;
    opacity: 0.8;
    color: #00AE52;
}
.splash-subhead-error {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.05em;
    opacity: 0.8;
    color: #F6296A;
    padding: 1em,0,1em,0;
}
.splash-subhead-comment {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.05em;
    opacity: 0.8;
    color: #00AE52;
    border: 2px solid #00AE52;
    word-wrap: break-word;
    line-height: 1.1em;
    width: 70%;
    margin: auto;
}
.splash table {
    border-color: white;
    margin: auto;
    margin-top: 3em;
    color: #F6296A;
}
.splash table tr:nth-child(odd) td {
    background: #F6296A;
    opacity: 0.7;
    color: white;
    
}
.pure-menu-link {
    font-size: 120%;
    font-weight: 700;
}
.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}


.content {
    padding: 1em 1em 3em;
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-head-ribbon {
    color: white;
}

.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

.ribbon {
    background: #2d3e50;
    color: #aaa;
}

.footer {
    background: #00AE52;
    position: fixed;
    width: 100%;
    color: white;
    bottom: 0;
}

@media (min-width: 48em) {

    body {
        font-size: 16px;
    }

    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }

    .l-box-lrg {
        border: none;
    }

}

.pure-form input[type="file"] {
    display: none;
}
.pure-form label {
    background: #00AE52;
    text-transform: none;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}